.user-info {
  display: flex;

  img {
    max-width: 40%;
  }

  div {
    padding: 1em;
  }

  h1 {
    font-weight: 500;
    font-size: 2em;
  }

  ul {
    margin: 1.5em 0 0 0;

    li {
      + li {
        margin-top: .75em;
      }
    }
  }
}